@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');
html{
    scroll-behavior: smooth;
}


.font-family{
    font-family: 'Raleway', sans-serif;
    font-weight: 600 v ;
}
body{
    margin: 0;
    background-color: #EF8354;
    
    
}

.all-btns{
    transition: all 0.5s;
}
.hero-section{
    background-color: #D9D9D9;
}

.nav-container{
    display: flex;
    justify-content: center;
}

.nav{
    text-decoration: none;
    color: #202020;
    font-size: 24px;
    padding: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    transition: all 0.5s;
}
.nav:hover{
    color: #EF8354;
}

#intro{
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 5rem;
    margin-bottom: -2rem;
}


#hero-data{
    display: flex;
    justify-content: center;
}


#hero-data-img{
    /* display: block; */
    margin-left: 15rem;
    margin-right: auto;
    max-width: 80%;
}

#hero-data-img-phone{
    display: none;
}
#hero-data .go-to {
    position: absolute;
    top: 75%;
    left: 85%;
    transform: translate(-60%, -100%);
    width: 100px;
    cursor: pointer; 
    transition: all .5s;
}

.go-to:hover{
    opacity: 90%;
}

#hero-data .btn {
    position: absolute;
    top: 90%;
    left: 51.5%;
    transform: translate(-60%, -100%);
    background-color: #EF8354;
    color: white;
    font-size: 32px;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    border-radius: 40px;

    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }

#hero-data .btn:hover{
    color: #EF8354;
    background-color: white;
  }
/* Hero Phone */
@media only screen and (max-width: 430px)  {
    .nav{
        font-size: 1em;
        padding: 20px;
    }
    #intro{
        font-size: 2em;
    }
    #hero-data{
        overflow: hidden;
    }
    #hero-data-img{
        display: none;
    }
    #hero-data-img-phone{
      display: block;
      width: 30em;
      margin-top: 4em; 
    }
    
    #intro{
        justify-content: left;
        margin: 2.5em 1.5em 0 1.5em;
    }

    .go-to{
        display: none;
    }
    #hero-data .btn{
        display: none;
        font-size: 20px;
        padding: 15px 20px;
        border-radius: 40px;
        
    }
}
/* Section 2 */

.name-about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    font-family: 'Raleway', sans-serif;
    color: white;
    
}

.name-about .about-header{
    padding-bottom: 1em;
}
.Rc-name{
    width: 700px;
}
.name-about #about-info{
    padding-bottom: 1.5em;
    font-size: 21px;
    max-width: 36%;
}

.primary-info{
    display: flex;
    justify-content: center;
    margin-top: 15em;
    margin-bottom: 1em;
    
}

.btn-white {
    background-color: white;
    color: #EF8354;
    font-size: 32px;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;

    margin-bottom: 5em;
    transition: all 0.5s;
}

.btn-white:hover {
    color: white;
    background-color: #202020;
}

@media only screen and (max-width: 430px)  {
    .Rc-name{
        width: 20em;
    }
    .name-about-name{
        font-size: 1em;
    }
    .name-about #about-info{
        font-size: 1.2em;
        max-width: 75%;
    }
    .btn-white{
        font-size: 20px;
        padding: 15px 20px;
        border-radius: 40px;
    }
}
/* Footer */
.socials{
    display: flex;
    justify-content: center;
    transition: all 0.5s;
}

.resize-soc{
    width: 35px;
    padding: 0 10px 0 10px;
    margin-bottom: 1rem;
    cursor: pointer;

    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.resize-soc:hover{
    color: #202020;
    top: -10px;
}
#footer{
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 3rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

/* Projects Menu */
.maintenance{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    
}
.maintenance-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10px 0 1px 0;
    text-align: center;
}

.maintenance-btn{
    padding-top: 2em;
}
/* Contacts */

.contact{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-form{
    /* padding: 15px 100px;
    border-radius: 5px;
    background-color:hsl(0, 0%, 93%);
    text-align: left;
    margin: 10px 0; */
    display: block;
    font-size:11px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:70px;
    margin:2px 0 20px 10px;

}

.message{
    padding: 100px 100px;
}