@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');
body{
    margin: 0;
    background-color: #EF8354;
}

.all-btns{
    transition: all 0.5s;
}
.hero-section{
    background-color: #D9D9D9;
}

.nav-container{
    display: flex;
    justify-content: center;
}

.nav{
    text-decoration: none;
    color: #202020;
    font-size: 24px;
    padding: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    transition: all 0.5s;
}
.nav:hover{
    color: #EF8354;
}

#intro{
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 5rem;
    margin-bottom: -2rem;
}


#hero-data{
    display: flex;
    justify-content: center;

    
}


#hero-data-img{
    /* display: block; */
    margin-left: 15rem;
    margin-right: auto;
    max-width: 80%;
}

#hero-data .go-to {
    position: absolute;
    top: 75%;
    left: 85%;
    transform: translate(-60%, -100%);
    width: 100px;
    cursor: pointer; 
    
    
}

#hero-data .go-to:hover{
    color:#202020;
}
#hero-data .btn {
    position: absolute;
    top: 90%;
    left: 51.5%;
    transform: translate(-60%, -100%);
    background-color: #EF8354;
    color: white;
    font-size: 32px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 40px;

    font-family: 'Raleway', sans-serif;
    font-weight: 400;

    
  }

#hero-data .btn:hover{
    color: #EF8354;
    background-color: white;
  }

/* Section 2 */
.name-about{
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    font-family: 'Raleway', sans-serif;
    color: white;

    
}

.name-about .about-header{
    padding-bottom: 1em;
}
.name-about #about-info{
    padding-bottom: 1.5em;
    font-size: 21px;
}

.primary-info{
    display: flex;
    justify-content: center;
    margin-top: 15em;
    margin-bottom: 1em;
}

.name-about .btn-white {
    background-color: white;
    color: #EF8354;
    font-size: 32px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;

    margin-bottom: 5em;
    transition: all 0.5s;
}

.name-about .btn-white:hover {
    color: white;
    background-color: #202020;
}


/* Footer */
.socials{
    display: flex;
    justify-content: center;
    transition: all 0.5s;
}

.resize-soc{
    width: 35px;
    padding: 0 10px 0 10px;
    margin-bottom: 1rem;
    cursor: pointer;

    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.resize-soc:hover{
    color: #202020;
    top: -10px;
}
#footer{
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 3rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}